* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  .container {
    max-width: 100%;
    width: 85%;
    margin: 0 auto;
  }
  header {
    background-color: black;
    padding: 20px 0;
  }
  nav ul li a {
    color: white;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav ul {
    display: flex;
    gap: 20px;
  }
  input {
    width: 300px;
    height: 50px;
  }
  
  .main-h1 {
    color: white;
    font-family: Inter;
    font-size: 40px;
  }
  .first-section {
    background-image: url(/slider2\ 1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: black;
  }
  .first-button {
    width: 109px;
    height: 55px;
    background-color: #76b900;
    color: white;
    border: none;
    margin: 80px 0 0 0;
  }


.first-button:hover {
  background-color: #76B900;
  opacity: 0.5;
}
  .main-wrapper {
    padding: 30px 0;
  }
  .card {
    width: 290px;
    height: 302px;
    box-shadow: 3px 2px 10px black;
    display: flexbox;
    text-align: center;
  
  }

  .card:hover {
    background-color: white;
    opacity: 0.5;
  }


  .firsline-cards {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
  .firstline-h1 {
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58.09px;
    text-align: center;
    margin: 30px 0;
  }
  h3 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 21.78px;
    margin-bottom: 70px;
    text-align: center;
  }
  .card a{
      color: black;
      font-size: 18px;
  }
  span{
      font-size: 20px;
      color: #76b900;
      font-weight: 1000;
  }


.nvidia {
  color: #67B900;
  font-size: 48px;
  font-weight: 700;
  line-height: 58.09px;
  text-align: right;
  position: relative;
  bottom: 270px;
  
}


.nvidia-p {
  font-family: Inter;
  font-size: 23px;
  font-weight: 700;
  line-height: 21.78px;
  text-align: right;
  color: black;
  position: relative;
  bottom: 230px;
}

.nvidia-but {
  width: 233px;
  height: 62px;
  position: relative;
  bottom: 140px;
  left: 1110px;
  background: #76B900;
  border: none;
}

.nvidia-but:hover {
  background-color: #76B900;
  opacity: 0.5;
}

footer {
  background-color: white;
  padding: 65px;
}

.comp {
  position: relative;
  top: 30px;
}

.foot {
  display: flex;
  justify-content: center;
}

.wert {
  font-family: Inter;
  font-size: 18px;
  font-weight: 800;
  line-height: 21.78px;
  text-align: left;
  position: relative;
  left: 600px;
  color: #666666;
}

.foot-ul {
  display: flex;
  align-items: center;
  justify-content: end;
}

.img-foot {
  display: flex;
  align-items: center;
 position: relative;
 right: 700px;
}